remote.web.user=root

remote.web.host=minibus

remote.web.code.dir=/opt/minibus

remote.db.host=localhost

remote.db.user=root

remote.db.port=3306

remote.db.dbname=minibus

remote.data.dir=/opt/minibusdata

remote.logs.dir=/opt/minibusdata/processlogs