return array(
    'data_endpoints' => array(
        'dummy' => array(
            'params' => array(
                'url' => 'http://open.api.ebay.com/shopping?callname=FindProducts&QueryKeywords=piano&version=913&appid=my-own-ebay-developper-id&responseencoding=JSON& PageNumber=2& MaxEntries=100'
            )
            
        ),
        'fake' => array(
            'params' => array(
                'host' => 'zozo',
                'port' => '3306',
                'user' => 'zozo',
                'password' => 'xxxx',
                'dbname' => 'zozo'
            )
        )
    )
);